doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Awali Store
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Theme CSS
    link(href='css/freelancer.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // Shopify Javascript
    script(src='js/shopify.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top.index
    // Navigation
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu 
            i.fa.fa-bars
          // <a class="navbar-brand" href="#page-top">LOGO</a>
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#main') Home Page
            li.page-scroll
              a(href='#portfolio') Tienda
            li.page-scroll
              a(href='#guide') Cómo comprar
            li.page-scroll
              a(href='#clients') Nuestros clientes
            li.page-scroll
              a(href='#preguntas') Preguntas
            li.page-scroll
              a(href='#contact') Contacto
        // /.navbar-collapse
      // /.container-fluid
    // Header
    header
      section#main
        .row
          .col-lg-12
            br
            img.img-responsive(src='img/profile.png', alt='')
            .intro-text
              span.name Awali
              hr.star-light
              span.skills Tienda en linea de juegos de mesa
    // Portfolio Grid Section
    section#portfolio
      .col-lg-12.text-center
        h2 Algunos de nuestros productos
        hr.star-primary
      #collection-component-0f2fedf9b25
    // About Section
    section#guide.success
      .container
        .row
          .col-lg-12.text-center
            h2 ¿Cómo realizo mi pedido?
            hr.star-light
        .row
          .col-sm-4.portfolio-item
            img.img-responsive.maginauto(src='img/grumpy.png', alt='')
            h3.text-center Paso 1
            p.text-center Escoge tus productos y agregalos al carrito
          .col-sm-4.portfolio-item
            img.img-responsive.maginauto(src='img/grumpy3.png', alt='')
            h3.text-center Paso 2
            p.text-center Escoge la forma de pago que mejor te parezca.
          .col-sm-4.portfolio-item
            img.img-responsive.maginauto(src='img/grumpy2.png', alt='')
            h3.text-center Paso 3
            p.text-center Introduce tu dirección y dejanos hacer el resto.
    // Seccion de testimonios
    section#clients
      .container
        .row
          .col-lg-12.text-center
            h2 ¡Nuestros clientes!
            hr.star-primary
        .container
          .row
            // Carousel
            #carousel-example-generic.carousel.slide(data-ride='carousel')
              // Indicators
              .carousel-inner
                .item.active
                  .row
                    .col-md-8.col-md-offset-2
                      .testimonials
                        .active.item
                          blockquote
                            p "You know what? I've made billions and billions...".
                          .carousel-info
                            img.pull-left(alt='', src='http://static4.businessinsider.com/image/56c640526e97c625048b822a-480/donald-trump.jpg')
                            .pull-left
                              span.testimonials-name Donald Trump
                              span.testimonials-post President of the United States
                .item
                  .row
                    .col-md-8.col-md-offset-2
                      .testimonials
                        .active.item
                          blockquote
                            p
                              | "El Chapo just escaped prison to become a U.S. citizen because our "leaders" can't say no!".
                          .carousel-info
                            img.pull-left(alt='', src='http://static4.businessinsider.com/image/56c640526e97c625048b822a-480/donald-trump.jpg')
                            .pull-left
                              span.testimonials-name Donald Trump
                              span.testimonials-post President of the United States
                .item
                  .row
                    .col-md-8.col-md-offset-2
                      .testimonials
                        .active.item
                          blockquote
                            p "Ta ta ta".
                          .carousel-info
                            img.pull-left(alt='', src='http://d3ustg7s7bf7i9.cloudfront.net/mmediafiles/pl/9f/9fbe818a-dc73-457b-8373-a2f8a5463190_749_499.jpg')
                            .pull-left
                              span.testimonials-name Profesor Jirafales
                              span.testimonials-post
            // /carousel
    // /Seccion de testimonios
    // Seccion FAQ
    section#preguntas.success
      .container
        .row
          .col-lg-12.text-center
            h2 Preguntas y respuestas
            hr.star-light
        .container
          .row
            .col-md-8.col-md-offset-2
              // Tab panes
              .tab-content.faq-cat-content
                #faq-cat-1.tab-pane.active.in.fade
                  #accordion-cat-1.panel-group
                    .panel.panel-default.panel-faq
                      .panel-heading
                        a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-1')
                          h4.panel-title
                            | What's the problem with USA?
                            span.pull-right
                              i.glyphicon.glyphicon-plus
                      #faq-cat-1-sub-1.panel-collapse.collapse
                        .panel-body.faq-text
                          | Mexico.
                    .panel.panel-default.panel-faq
                      .panel-heading
                        a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-2')
                          h4.panel-title
                            | Pregunta 2
                            span.pull-right
                              i.glyphicon.glyphicon-plus
                      #faq-cat-1-sub-2.panel-collapse.collapse
                        .panel-body.faq-text
                          | Respuesta 2.
                    .panel.panel-default.panel-faq
                      .panel-heading
                        a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-3')
                          h4.panel-title
                            | Pregunta 3
                            span.pull-right
                              i.glyphicon.glyphicon-plus
                      #faq-cat-1-sub-3.panel-collapse.collapse
                        .panel-body.faq-text
                          | Respuesta 3.
                    .panel.panel-default.panel-faq
                      .panel-heading
                        a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-4')
                          h4.panel-title
                            | Pregunta 4
                            span.pull-right
                              i.glyphicon.glyphicon-plus
                      #faq-cat-1-sub-4.panel-collapse.collapse
                        .panel-body.faq-text
                          | Respuesta 4.
    // /Seccion FAQ
    // Contact Section
    // Footer
    footer#contact.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Teléfono
              p 442 0 -0 -0 hasta que se te hinche el dedo
            .footer-col.col-md-4
              h3 Ubicación
              p
                | 3481 Melrose Place
                br
                | Beverly Hills, CA 90210
            .footer-col.col-md-4
              h3 Redes Sociales
              ul.list-inline
                li
                  a.btn-social.btn-outline(href='https://www.facebook.com/DrunkenCards/?fref=ts')
                    i.fa.fa-fw.fa-facebook
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-twitter
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-instagram
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright © Awali 2016
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.hidden-sm.hidden-xs.hidden-lg.hidden-md
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
    // Portfolio Modals
    // jQuery
    script(src='vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    // Contact Form JavaScript
    script(src='js/jqBootstrapValidation.js')
    script(src='js/contact_me.js')
    // Theme JavaScript
    script(src='js/freelancer.min.js')
    script.
      $(document).ready(function() {
      $('.collapse').on('show.bs.collapse', function() {
      var id = $(this).attr('id');
      $('a[href="#' + id + '"]').closest('.panel-heading').addClass('active-faq');
      $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-minus"></i>');
      });
      $('.collapse').on('hide.bs.collapse', function() {
      var id = $(this).attr('id');
      $('a[href="#' + id + '"]').closest('.panel-heading').removeClass('active-faq');
      $('a[href="#' + id + '"] .panel-title span').html('<i class="glyphicon glyphicon-plus"></i>');
      });
      });
    script(type='text/javascript').
      //<![CDATA[
