<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>GUAL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../server/static/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="../../server/static/css/custom.css" rel="stylesheet" type="text/css">
  <link href="../../server/static/css/agency.css" rel="stylesheet" type="text/css">
  <link href="../../server/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        <section id="cd-intro" class="cd-index">
    <div class="overlay">    </div>


            <div class="col-md-12 text-center" style="
    position: relative;
">
            <img src="../../server/static/img/logo_general.svg" class="logoresponsive">
        </div>
            <div id="cd-intro-tagline">
            </div> <!-- #cd-intro-tagline -->

        </section> <!-- #cd-intro -->

	<div class="cd-secondary-nav">
		<a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
		<nav>
			<ul>
				<li>
					<a href="#about">
						<b>Somos</b>
						<span></span><!-- icon -->
					</a>
				</li>
				<li>
					<a href="#services">
						<b>Servicios</b>
						<span></span><!-- icon -->
					</a>
				</li>
				<li>
					<a href="#mision">
						<b>Misión/Visión</b>
						<span></span><!-- icon -->
					</a>
				</li>				
                <li>
					<a href="#contact">
						<b>Contacto</b>
						<span></span><!-- icon -->
					</a>
				</li>

			</ul>
		</nav>
	</div> <!-- .cd-secondary-nav -->
<!-- Container (About Section) -->
<section id="about" class="container-fluid bg-grey">
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>Acerca de nosotros</h2><br>
      <h4>Somos una empresa creada con la finalidad de satisfacer las necesidades de nuestros clientes en las áreas de Valuación, Construcción y Dirección de Obra,  bajo los más altos estándares de calidad, ética y confidencialidad.</h4><br>
      <p><strong><h4>Contamos con todo un equipo profesional listo para atenderle.</h4></strong></p>
    </div>
    <div class="col-sm-4">
        <img src="../../server/static/img/Info.png" width="50%" class="slideanim">
    </div>
  </div>
</div>    
</section>
    
<section id="services" class="container-fluid text-center">
<div class="container">    
  <h2>SERVICIOS</h2>
  <h4>¿Qué necesitas?</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-6">
      <img src="../../server/static/img/digger.svg" width="30%">
      <h4>Construccion</h4>
      <a href="construccion.html" class="button">Ver más</a>
    </div>
    <div class="col-sm-6">
      <img src="../../server/static/img/real-estate.svg" width="30%">
      <h4>Valuación</h4>
      <a href="valuaciones.html" class="button">Ver más</a>
    </div>
  </div>
</div>    
</section>
    
<section id="mision" class="container-fluid bg-grey">
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Valores</h2><br>
      <h4><strong>MISIÓN:  </strong> Proveer el servicio de valuación de manera personal, ágil y expedita para que usted obtenga el mejor resultado y su total satisfacción manteniéndonos en constante actualización para conservar y mejorar nuestros estándares de calidad.<br><br>
Ayudar a crear y construir sus proyectos de ingeniería en las áreas habitacionales, industriales o de servicios con la calidad en los procesos que le darán confianza de su inversión.
</h4><br>
      <h4><strong>VISIÓN: </strong> Debemos contribuir a la certidumbre de nuestros clientes en los procesos donde tenemos la oportunidad de participar.<br><br>
        <ul>
            <li><strong>Área de Valuación</strong>, dando una apreciación técnica razonable que ayude a encontrar la medida justa y real de sus bienes así como una asesoría completa y profesional para la mejor toma de decisiones</li>
            <li><strong>Área de Construcción</strong>, ofreciendo el apoyo en la realización de sus proyectos con un trato honesto y la mejor calidad en los procesos constructivos.</li>
            <li><strong>Área de Dirección de Obra</strong>, siendo D.R.O. le ayudaremos a que sus obras se lleven a cabo con una excelente calidad, supervisión, administración y así concluya de la mejor manera sus proyectos.
</li>
        </ul></h4>
        <br>
        <h4><strong>VALORES: </strong> Los valores que nos rigen y promueven nuestro diario actuar son:<br>
        <ul>
            <li>Compromiso ético</li>
            <li>Honestidad</li>
            <li>Lealtad</li>
            <li>Preparación profesional continua</li>
            <li>Confidencialidad</li>
        </ul>
            <strong>¡Valores que le garantizan a Usted la inmejorable calidad de nuestro trabajo!</strong>

        </h4>
        
    </div>
  </div>
</div>    
</section>

<!-- Container (Services Section) -->

<!-- Container (Pricing Section) -->

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid">
  <h2 class="text-center">CONTACTO</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contáctanos y nos comunicaremos contigo lo más pronto posible.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Querétaro, México</p>
      <p><span class="glyphicon glyphicon-phone"></span> 01 (442) 2170052</p>
      <p><span class="glyphicon glyphicon-phone"></span> 01 (442) 2174638</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Mensaje" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Envíar correo</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Google Maps -->
<div id="map" style="height:400px;width:100%;"></div>
<script src="../../server/static/js/jquery-2.1.1.js"></script>    
<script src="../../server/static/js/jquery.mixitup.min.js"></script>
<script src="../../server/static/js/main.js"></script>
<script src="../../server/static/js/modernizr.js"></script>
  <script src="../../server/static/js/bootstrap.min.js"></script>
    
<script>
function initMap() {
        var myLatLng = {lat: 20.609190, lng:-100.4001610};
    
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 20
        });
    
        var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
  });
}
</script>
<script src="../../server/static/js/agency.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAELuTaaZqogjrrZesdSSoZYvMKJ5v4fg&callback=initMap" async defer></script><!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
<div>Icons made by <a href="http://www.flaticon.com/authors/popcorns-arts" title="Popcorns Arts">Popcorns Arts</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>    
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>